
<br>

{{new-post save2="save3"}}

<h2>Latest Posts:</h2>


{{#each model.posts as |post|}}
  {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{new-comment post=post saveComment2="saveComment3"}}
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
{{/each}}
